* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #000;
  padding: 1%;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
form input {
  border: 0;
  padding: 1%;
  margin-right: 0.5%;
}
form #nickname {
  width: 10%;
  padding: 10px;
  margin: 0.5%;
}
form #m {
  width: 76.5%;
  padding: 10px;
  margin: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  margin: 0.5%;
}
#channel {
  border: 1px solid black;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
